body {
  color: #8f8f8f;
  font: 12px Tahoma, sans-serif;
  background-color: #f8f8f8;
  border-top: 5px solid #fff;
  margin: 0;
}

input[type="text"] {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  height: 30px;
  color: #b2b2b2;
  padding: 0 10px;
  vertical-align: top;
}

button {
  color: #7e7e7e;
  background-color: #fff;
  border: none;
  height: 32px;
  font-family: 'Oswald', sans-serif;
}

button:hover {
  background-color: #7e7e7e;
  color: #fff;
  cursor: pointer;
}

p {
  margin: 20px;
}

#wrapper {
  max-width: 960px;
  margin: auto;
}

header {
  padding: 20px 0;
}

form[name="search"] {
  float: right;
}

nav a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-position: inside;
  font: 14px 'Oswald', sans-serif, 'Times New Roman';
  padding: 10px;
}

.top-menu li {
  display: inline-block;
  border-right: 1px solid #e7e7e7;
  padding: 10px 30px;
  margin: 0;
}

.top-menu li:hover, .top-menu a:hover {
  background-color: #7e7e7e;
  color: #fff;
}

.top-menu a {
  color: #b2b2b2;
}

#heading {
  background-color: #7e7e7e;
  margin: 30px 0;
  padding-left: 20px;
}

h1 {
  color: #fff;
  font: 40px/40px 'Oswald', sans-serif;
  padding: 0 0 5px;
}

#logo-pic {
  border: 4px solid #7e7e7e;
}

#logo-name {
  position: relative;
  bottom: 25px;
  background-color: #7e7e7e;
  font: 30px 'Oswald', sans-serif;
  padding: 10px;
  text-align: center;
  color:#fff;
}

aside {
  float: left;
  width: 250px;
}

#marketplace > h2 {
  background-color: #7e7e7e;
  color: #fff;
  font: 20px 'Oswald', sans-serif;
  padding-left: 10px;
  margin-bottom: 5px;
}

#marketplace > div{
  width: 240px;
  height: 200px;
  border: 5px solid #7e7e7e;
  background-color: #e7e7e7;

}

section {
  margin-left: 280px;
  padding-bottom: 50px;
}

.aside-menu li {
  font-weight: 300;
  list-style-type: square;
  border-top: 1px solid #e7e7e7;
}

.aside-menu li:first-child {
  border: none;
}

.aside-menu li.active {
  color: #7e7e7e;
}

.aside-menu a {
  color: #8f8f8f;
}

.aside-menu li:hover, .aside-menu a:hover {
  background-color: #7e7e7e;
  color: #fff
}

section {
  height: 460px;
  overflow: auto;
  
}

cite {
  margin-left: 20px;
  font: 30px 'Oswald', sans-serif;
}

.description {
  width: 500px;
  height: 100px;
  overflow: auto;
  font: 18px 'Oswald', sans-serif;
  text-align: justify;

}

.tier-list {
  padding: 20px;
  width: 500px;
  height: 260px;
}

footer {
  background-color: #7e7e7e;
}

