:root {
	font-size: calc(0.5rem + 1vw);
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	--ct-color: #fff;
}

*,
::before,
::after {
	box-sizing: inherit;
}

body {
	background-color: #eee;
}

body * + * {
	margin-top: 1.5em;
}


header {
	padding: 1em 1.5em;
	background-color: #0072b0;
	color: var(--ct-color);
	border-radius: 0.5em;
}

main {
	display: block;
}

main > p {
	text-align: justify;
}

.wrapper {
	margin: 0 -1.5em;
}

.container {
	display: flex;
	width: 100%;
}

.main {
	
	padding: 0 1.5em;
	background-color: var(--ct-color);
	border-radius: 0.5em;
}

.sidebar {
	width: 30%;
	padding: 1.5em;
	margin-left: 1.5em;
	margin-top: 0;
	background-color: var(--ct-color);
	border-radius: 0.5em;
}

.button-link {
	display: block;
	padding: 0.5em;
	color: var(--ct-color);
	background-color: #0090c9;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.button-link:active {
	background-color: #00a9d9;
}

.sponsor-link {
	display: block;
	color: #0072b0;
	font-weight: bold;
	text-decoration: none;
}

.sponsor-link:active {
	color: #00a9d9;
}
