:root {
	font-size: calc(0.5rem + 1vw);
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: #eee;
}

header {
	background-color: #0072b0;
	color: #fff;
	border-radius: 0.5em;
}

main {
	display: block;
}

.main {
	float: left;
	width: 70%;
	background-color: #fff;
	border-radius: 0.5em;
	margin: 1.5em 0;
}

main > p {
	text-align: justify;
}

.sidebar {
	float: left;
	width: 30%;
	padding: 1.5em;
	background-color: #fff;
	border-radius: 0.5em;
}
